*{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background-color: #a4d66d80;
}

.nav{
	width: 100%;
	height: 40px;
	background-color: black;
	overflow: hidden;
}

.list{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
}

.list b ,.list i{
	display: block;
	padding: 0 15px;
	color: #aaa;
	line-height: 40px;
	text-align: center;
}

li{
	float: left;
}

.list li a{
	/*border: 1px solid red;*/
	display: block;
	/*transition: 0.5s;*/
}


.list b{
	font-weight: 100;
}

.list i{
	font-style: normal;
	background-color: #333;
	color: white;
}

/*.list a:hover{
	margin-top: -40px;
}*/


/*$(window).height()     获取的是当前可视窗口的高度，也就是用户能看到的窗口的高度，是不变的（在窗口大小不变的前提下）
$(document).height()  获取的是窗口内文档的高度,这个高度随着文档内容的高度改变而改变

当窗口滚动条滚到最低端时，$(document).height() == $(window).height() + $(window).scrollTop()。
当窗口内文档高度不足浏览器窗口高度时，$(document).height()返回的是$(window).height()。

$("body").height()   如果body没有border、margin的话，$("body").height()==$(document).height(),但是还是不建议使用这种方式去获取文档内容高度

PS:如果你发现$(window).height()值有问题，返回的不是浏览器窗口的高度，那么看看是不是网页没有加上<!DOCTYPE>声明。
如果没加的话网页会进入怪异模式，你懂的！*/

